</div><!-- wrapper -->
<footer><!-- footer -->
	<div class="container">
		<div class="sixteen columns" id="footer">
			Copyright &copy; 2013 Graze Media<br />
			Powered by <a href="http://ellislab.com/expressionengine" id="ee">ExpressionEngine</p>
		</div>
		<div class="sixteen columns">
			<ul>
				<li id="email"><p><a href="mailto:hello@shape.it">hello[@]grazemedia.com</a></p><li>
				<li id="twitter"><p><a href="https://twitter.com/_joedixon">tweet</a></p><li>
				<li id="rss"><p><a href="{path='rss'}">RSS feed</a><li>
			</ul>
		</div>
	</div>
</footer><!-- footer -->
</body>
</html>