{if segment_2 == ""}
{embed="site/header" title="articles" meta="Musings from the people at shape.it"}
<div id="main">
	<div class="container" id="content">
		<h1>articles</h1>
		<ul>
		{exp:channel:entries channel="articles"}
			<li><a href="{path='{channel_name}/{url_title}'}">{title}</a></li>
		{/exp:channel:entries}
		</ul>
	</div>
</div>
{if:else}
	{embed="site/header" title="{title}" meta="{meta}"}
	<div id="main">
		<div class="container" id="content">
			{exp:channel:entries}
			<div class="span12">
				<h1>{title}</h1>
				{content}
			</div>
			{/exp:channel:entries}
			{!--{embed="includes/ads"}--}
		</div>
	</div>
	{embed="site/footer"}
{/if}
{embed="site/footer"}