{if segment_2 == ""}
{embed="includes/.header" title="articles" meta="Musings from the people at shape.it"}
<div id="main">
	<div class="container" id="content">
		<div class="span12">
			<h1>articles</h1>
			<ul>
			{exp:channel:entries channel="articles"}
				<li><a href="{path='{channel_name}/{url_title}'}">{title}</a></li>
			{/exp:channel:entries}
			</ul>
		</div>
	</div>
</div>
{if:else}
	{exp:channel:entries}
		{embed="includes/.header" title="{title}" meta="{meta}"}
			<div id="main">
				<div class="container" id="content">
					<div class="span12">
						<h1>{title}</h1>
						{content}
					</div>
					{!--{embed="includes/.ads"}--}
				</div>
			</div>
		{embed="includes/.footer"}
	{/exp:channel:entries}
{/if}
{embed="includes/.footer"}